*{
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

p{
    font-size: 18px;
    font-weight: 800;
}

body {
    background: #c4c4c4;
    display: flex;
    justify-content: center;
}

#container{
    width: 500px;
    background: #fff;
    margin-top: 100px;
}

.posts{
    padding-bottom: 20px;
    border-bottom: 20px solid #c4c4c4;
}

header{
    position: fixed;
    background: #fff;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px #c4c4c4;
    z-index: 10;
}

header .logo{
    width: 140px;
    margin: 16px;
}

header .small-img{
    margin: 16px;
}

.small-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.title{
    display: flex;
    align-items: center;
}

.title .small-img{
    margin: 16px;
}

.small-p{
    font-size: 16px;
}

.light{
    font-weight: 500;
}

.post-img{
    width: 100%;
    margin: 0;
    padding: 0;
}

.icons-div{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 6px;
    padding: 0;
}

.icons{
    width: 36px;
    margin-left: 16px;
}

.margin-left-top{
    margin-top: 10px;
    margin-left: 18px;
}

.icon-heart-liked{
    position: absolute;
    visibility: hidden;
    left: 16px;
    width: 36px;
}

.hidden{
    visibility: hidden;
    transition: ease-in 0.2 ease-out 0.2;
}

.visible{
    visibility: visible;
    transition: ease-in 0.2 ease-out 0.2;
}

.icon-hover{
    opacity: 0.65;
    transition: ease-in 0.2 ease-out 0.2;
}

.icon-active{
    opacity: 0.35;
    transition: ease-in 0.2 ease-out 0.2;
}